body {
  background-image: url("http://img2.wikia.nocookie.net/__cb20141112223405/wildpartybingo/images/5/50/Wiki-background");
  background-position: top center;
  background-repeat: no-repeat;
}
.bingodraw {
  margin: 30px 0 0 0.4em !important;
  background-color: white;
  padding: 1em;
  border-radius: 10px;
}
.buttonRow {
  text-align: center;
}
.pastNumbers {
  font-size: 25px;
  background-color: white;
  border-radius: 10px;
  padding: 0.5em 0.75em;
  margin: 1em 0;
}
.cardSquare.selected {
  background-color: pink;
}

.button {
  width: 100%;
  font-weight: bold;
}

.pausebutton {
  background-color: #FBA71A;
}

.pausebutton:hover, .pausebutton:focus {
  background-color: #C98615;
}

.playbutton {
  background-color: #54AD4A;

}

.playbutton:hover, .playbutton:focus  {
  background-color: #3a7933;
}

.reset {
  background-color: #CD539C;
  margin: 0;
}
.reset:hover, .reset:focus {
  background-color: #a4427c;
}

#displayNumber {
  font-size: 100px;
  text-align: center;
}

#cardContainer {
  display: block;
  background-color: white;
  border: 8px solid red;
  padding: 0.5em;
  margin-left: 8px;
  font-size: 0;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.headSquare, .cardSquare {
  color: red;
  font-size: 30px;
  text-align: center;
  display: inline-block;
  font-family: helvetica;
  min-height: 70px;
  vertical-align: middle;
  padding: 2.5%;
}
.cardRow {
  text-align: center;
  border: 2px solid red;
  border-width: 2px 0px;
}
#free {
  background-color: pink;
}

.headSquare {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  font-size: 70px;
  font-weight: bold;

}
.cardSquare {
  color: black;
  border: 2px solid red;
  border-width: 0 2px;
  width: 20% !important;
  background-color: white;
}

.reveal-modal {
  left: 0;
  background-color: #fff;
  margin: 20% auto;
  max-width: 55.55556rem;
  right: 0;
  width: 80%;
  text-align: center;
  padding: 2em;
}

.reveal-modal img {
  width: 250px;
}

.close-reveal-modal {
  float: right;
  font-size: 4em;
  color: grey;
  position: relative;
  top: -0.8em;
  left: 0.25em;
}

@media screen and (max-width: 40em) {
  .reveal-modal img {
    width: 170px;
  }
  .reveal-modal h2 {
    font-size: 2em;
    margin-top: 0.5em;
  }
  .headSquare {
    font-size: 40px;
  }
  .cardSquare {
    min-height: 50px;
    font-size: 26px;
    vertical-align: middle;
    padding: 1%;
  }
  .bingodraw {
    margin: 0 !important;
    margin-top: 15px !important;
    padding: 0.5em;
  }
  #displayNumber {
    font-size: 70px;
  }
  #cardContainer {
    margin-top: 15px;
    margin-left: 0;
  }
  .pastNumbers {
    font-size: 20px;
    margin: 15px 0.5em;
  }
}

@media screen and (max-width: 35em) {
  .cardSquare {
    min-height: 28px;
    font-size: 20px;
  }
}

@media screen and (max-width: 28em) {
  .small-4, .small-8 {
    width: 100%;
  }
  .button {
    width: inherit;
    padding: 0.85em 0.7em;
  }
  .reset {
    margin-bottom: 1em;
  }
  #displayNumber {
    font-size: 50px;
  }
}

@media screen and (min-width: 64em) {
  .pastNumbers {
    margin: 1em 0.6em 1em 0.8em;
  }
}
