body {
  background-color: #e5e5e5;
  font-size: 16px;
}

h1 {
  border-bottom: 1px solid black;
  padding: 15px;
}
form {
  padding: 2em 0;
}
input {
  width: 79%;
}

button {
  width: 20%;
}

ol {
  margin-top: 1em;
  padding: 1em;
  background-color: #666;
  color: #fff;
  height: 3.5em;
  list-style-position: inside;
}
